@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  color: #3E2723;
  background: #F8F9FA;
  font-family: "Inter", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Share Tech", sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

